<div id="container1" class="d-flex justify-content-center">
    <p id="pinkribbon" style="text-align:center">Buy One, Get One 50% Off For All Ages</p>
</div>
<div id="container2" class="d-flex justify-content-center">
    <p id="ribbon" style="text-align:center">Free Shipping on Orders of $40 or More</p>
</div>
<app-top-carousel></app-top-carousel>
<app-multi-item-carousel-component></app-multi-item-carousel-component>
<h2></h2>
<h2>Fiction Favorites</h2>
<div class="d-flex p-2">
    <app-large-book-card></app-large-book-card>
     <div class="row row-cols-4 g-4"> 
        <div *ngFor="let item of products">
            <app-book-cards-component class="nx-2" img={{item.img}} description={{item.description}} author={{item.author}} img2= {{item.img2}}></app-book-cards-component>
        </div>
    </div>
</div>
