<nav class="navbar navbar-light" style="background-color: #ffffff;">
    <div class="container">
        <div class="d-flex-fill">
            <button type="button" class="btn btn-link btn-sm">Books</button>
            <button type="button" class="btn btn-link btn-sm">Fiction</button>
            <button type="button" class="btn btn-link btn-sm">Nonfiction</button>
            <button type="button" class="btn btn-link btn-sm">eBooks</button>
            <button type="button" class="btn btn-link btn-sm">Audiobooks</button>
            <button type="button" class="btn btn-link btn-sm">Teens & YA</button>
            <button type="button" class="btn btn-link btn-sm">Kids</button>
            <button type="button" class="btn btn-link btn-sm">Toys & Games</button>
            <button type="button" class="btn btn-link btn-sm">Stationary & Gifts</button>
            <button type="button" class="btn btn-link btn-sm">Music & Movies</button>
        </div>
    </div>
  </nav>