<ul class=" nav flex-column sidebar">
    <li class="nav-item">
        <p style="text-align: center;">Bestsellers</p>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">B&N Top 100</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Hardcover Bestsellers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Paperback Bestsellers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Fiction Bestsellers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Nonfiction Bestsellers</a>
    </li> 
    <li class="nav-item">
        <a class="nav-link disabled">NY Times Bestsellers</a>
    </li>  
    <li class="nav-item">
        <a class="nav-link disabled">30% Off Hardcover Bestsellers</a>
    </li> 
    <li class="nav-item">
        <a class="nav-link disabled">Teens & YA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Kids' Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">eBooks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Book Annex</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Toys & Games</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Stationary & Gifts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Movies & TV</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Music</a>
    </li>
    <li class="nav-item">
        <p style="text-align: center;">Bestsellers By Subject</p>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Biography</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Cookbooks, Food & Wine</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Current Affairs & Politics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Diet, Health & Fitness</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">General Fiction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Graphic Novels & Comics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Mystery & Crime</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Religion</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Romance</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Science Fiction & Fantasy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Self-Help & Relationships</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Thrillers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">See All Subjects</a>
    </li>
  </ul>