<div class="card-main" style="width: 26rem;">
    <img src="./assets\Cards\houseofeve.PNG" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">The House of Eve</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><p class="card-text-author">Sadeqa Johnson</p></li>
        <li class="list-group-item"><img src="./assets\Cards\stars.png" class="card-img-top" alt="..."width="50" height="70"></li>
        </ul>
    <p class="card-text-main">This luminous novel is an exploration of what womanhood, sacrifice, and longing looked like in pre-Roe America for young black women. It is a story about the price women pay for love, and the choices no one should have to make.</p>
    </div>
</div>