#container1{
    background-color: #e6cacf;
    height: 55px;
    line-height: 55px;
}
#container2{
    background-color: #3D5962;
    height: 45px;
    line-height: 45px;
}
#ribbon{ 
    color: white;
}

#pinkribbon{
    color: black;
    font-size: large;
    font-weight: 600;
}