<h2>Fiction Favorites</h2>
<div class="d-flex p-2">
    <div class="card-main" style="width: 27rem;">
        <img src="./assets\Cards\houseofeve.PNG" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">The House of Eve</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><p class="card-text-author">Sadeqa Johnson</p></li>
            <li class="list-group-item"><img src="./assets\Cards\stars.png" class="card-img-top" alt="..."width="60" height="60"></li>
            </ul>
        <p class="card-text-main">This luminous novel is an exploration of what womanhood, sacrifice, and longing looked like in pre-Roe America for young black women. It is a story about the price women pay for love, and the choices no one should have to make.</p>
        </div>
    </div>
    <div class="d-flex p-2"> <!-- row height d-flex justify-content align-items-left -->
        <div class="row row-cols-4 g-4">
            <div class="col">
            <div class="card-grid"style="width: 11rem;">
                <img src="./assets\Cards\maureen.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Maureen: A Harold Fry Novel</h5>
                <p class="card-text-author">Rachel Joyce</p>
                <img src="./assets\Cards\stars.png" class="card-img-top" alt="...">
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card-grid"style="width: 11rem;">
                <img src="./assets\Cards\goodmothers.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">The School for Good Mothers</h5>
                <p class="card-text-author">Jessamine Chan</p>
                <img src="./assets\Cards\stars.png" class="card-img-top" alt="...">
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card-grid"style="width: 11rem;">
                <img src="./assets\Cards\jojosmall.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Someone Else's Shoes</h5>
                <p class="card-text-author">Jojo Moyes</p>
                <img src="./assets\Cards\stars.png" class="card-img-top" alt="...">
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card-grid"style="width: 11rem;">
                <img src="./assets\Cards\wilder.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Something Wilder</h5>
                <p class="card-text-author">Christina Lauren</p>
                <img src="./assets\Cards\stars.png" class="card-img-top" alt="...">
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card-grid"style="width: 11rem;">
                    <img src="./assets\Cards\sapphire.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Code Name Sapphire</h5>
                    <p class="card-text-author">Pam Jenoff</p>
                    <img src="./assets\Cards\stars.png" class="card-img-top" alt="...">
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card-grid"style="width: 11rem;">
                        <img src="./assets\Cards\booth.PNG" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Booth</h5>
                        <p class="card-text-author">Karen Joy Fowler</p>
                        <img src="./assets\Cards\stars.png" class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-grid"style="width: 11rem;">
                        <img src="./assets\Cards\essex.PNG" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Essex Dogs: A Novel</h5>
                        <p class="card-text-author">Dan Jones</p>
                        <img src="./assets\Cards\stars.png" class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-grid"style="width: 11rem;">
                        <img src="./assets\Cards\ghosts.PNG" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Hungry Ghosts: A Novel</h5>
                        <p class="card-text-author">Kevin Jared Hosein</p>
                        <img src="./assets\Cards\stars.png" class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>
    </div>
</div>      
