
  <div class="container">
    <div class="row height d-flex justify-content-center align-items-left">
      <div class="col-md-auto"> 
        <a class="navbar-brand" href="#"><img src="assets\Images\Barnes-Noble-Logo1-500x281.png" class="img-fluid" alt="" width="200" height="270">  </a>
      </div>
      <div class="col-md-auto"> 
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
          All</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Books</a></li>
          <li><a class="dropdown-item" href="#">Audiobooks</a></li>
          <li><a class="dropdown-item" href="#">ebooks & NOOK</a></li>
          <li><a class="dropdown-item" href="#">Textbooks</a></li>
          <li><a class="dropdown-item" href="#">Newsstand</a></li>
          <li><a class="dropdown-item" href="#">Teens & YA</a></li>
          <li><a class="dropdown-item" href="#">Kids</a></li>
          <li><a class="dropdown-item" href="#">Toys & Games</a></li>
          <li><a class="dropdown-item" href="#">Stationary & Gifts</a></li>
          <li><a class="dropdown-item" href="#">Movies & TV</a></li>
          <li><a class="dropdown-item" href="#">Music</a></li>
          <li><a class="dropdown-item" href="#">Book Annex</a></li>
          </ul>
      </div>
      <div class="col-md-8">
        <div class="search">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control" placeholder="Search by Title, Author, Keyword, or ISBN">
        </div>
      </div>
      <div class="col-md-auto">
        <button type="submit" class="btn btn-base">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
      </button>
      </div>
      <div class="col-md-auto">
        <button type="button" class="btn btn-link-outline btn-sm"> <img src="assets\Images\shopping.png" width="30" /></button>
      </div>
    </div>
  </div>
