<nav class="navbar navbar-light" style="background-color: #ffffff;">
  <div class="container">
      <a class="navbar-brand" href="#"><img src="assets\Images\Barnes-Noble-Logo1-500x281.png" class="img-fluid" alt="" width="270" height="270">  </a>
        <div class="d-inline-flex">
            <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                All
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Books</a></li>
                <li><a class="dropdown-item" href="#">Audiobooks</a></li>
                <li><a class="dropdown-item" href="#">ebooks & NOOK</a></li>
                <li><a class="dropdown-item" href="#">Textbooks</a></li>
                <li><a class="dropdown-item" href="#">Newsstand</a></li>
                <li><a class="dropdown-item" href="#">Teens & YA</a></li>
                <li><a class="dropdown-item" href="#">Kids</a></li>
                <li><a class="dropdown-item" href="#">Toys & Games</a></li>
                <li><a class="dropdown-item" href="#">Stationary & Gifts</a></li>
                <li><a class="dropdown-item" href="#">Movies & TV</a></li>
                <li><a class="dropdown-item" href="#">Music</a></li>
                <li><a class="dropdown-item" href="#">Book Annex</a></li>
                </ul>
            </li>
            </ul>

            <div style="display: flex; height: 100%; position: relative;" class="focus">
              <form class="example" action="action_page.php">
                <input type="text" placeholder="Search by Title, Author, Keyword, or ISBN" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
              <button type="button" class="btn btn-link-outline btn-sm"> <img src="assets\Images\shopping.png" width="30" /></button>
           </div>
          </div>
      </div> 
  </nav>
