.my-indicator{
    background-color: lightgray;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    
}
.my-indicator.active{
    background-color: black;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    
}
.carousel-control-prev {
    margin-left: 1%;
}

.carousel-control-next {
    margin-right: 1%;
}
