  <div id="carouselPromotional" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselPromotional" data-bs-slide-to="0" class="active my-indicator" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselPromotional" data-bs-slide-to="1" class="my-indicator" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselPromotional" data-bs-slide-to="2" class="my-indicator" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselPromotional" data-bs-slide-to="3" class="my-indicator" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselPromotional" data-bs-slide-to="4" class="my-indicator" aria-label="Slide 5"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/Carousel/barbara.jpg" class="d-block w-100" alt="Snow Hare"/>
    </div>

    <div class="carousel-item">
      <img src="./assets/Carousel/horror.jpg" class="d-block w-100" alt="Maame"/>
    </div>

    <div class="carousel-item">
      <img src="./assets/Carousel/dragon.jpg" class="d-block w-100" alt="Davenports"/>
    </div>

    <div class="carousel-item">
      <img src="./assets/Carousel/jojo.jpg" class="d-block w-100" alt="Chain of Thorns"/>
    </div>

    <div class="carousel-item">
      <img src="./assets/Carousel/stone.jpg" class="d-block w-100" alt="McCartney"/>
    </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPromotional" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselPromotional" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>