<div id="carouselMulti" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/bestsellers.PNG"class="d-block w-100"alt="..."> </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/newreleases.PNG" class="d-block w-100" alt="..."> </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/number3.PNG" class="d-block w-100" alt="..."> </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/signededitions.PNG" class="d-block w-100" alt="..."> </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/audiobooks.PNG" class="d-block w-100"alt="..."> </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/giftcards.PNG"class="d-block w-100"alt="..."> </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/apps.PNG" class="d-block w-100"alt="..."> </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/coupons.PNG" class="d-block w-100"alt="..."> </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/booktok.PNG" class="d-block w-100"alt="..."> </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/mystery.PNG" class="d-block w-100"alt="..."> </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/horror2.PNG" class="d-block w-100"alt="..."> </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/scifi.PNG" class="d-block w-100"alt="..."> </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/manga.PNG" class="d-block w-100"alt="..."> </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/teensandya.PNG" class="d-block w-100"alt="..."> </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="\assets/multi/youngreaders.PNG" class="d-block w-100"alt="..."> </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMulti" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMulti" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>