img{
  vertical-align: middle;
}
.btn{
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    color: #5A5A5A;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    border-right: 1.5px solid #CD7F32;  
    outline: none;
  }
  .btn:hover {
    background-color: #ffffff;
    color: green;
  }
  button:focus { 
    outline:0 !important;
    box-shadow: none; }

  .dropbtn {
    background-color: #ffffff;
    color: #5A5A5A;
    padding: 10px 15px;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }
  
  li.nav-item-dropdown {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
  }
  
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 12px;
    display: block;
    text-align: left;
    
  }
  
  .dropdown-menu a:hover {background-color: lightgray;}
  
  .dropdown:hover .dropdown-menu{
    display: block;
  }
/*   ul.dropdown-menu {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 12px;
    display: block;
    text-align: left;
    
  }
  
  .dropdown-menu a:hover {background-color: lightgray;}
  
  .dropdown:hover .dropdown-menu{
    display: block;
  } */

  .btn-link-outline{
    background-color: #314850;
    border: none;
    border-radius: 0;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    margin:auto;
    width: 100%; 
  }
  .btn-link-outline {
    transition-duration: 0.4s;
  }
  
  .btn-link-outline:hover {
    background-color: darkgreen; /* Green */
    color: white;
  }
  .btn-link {
    background-color: white;
    border: 5px;
    border-radius: 0;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s; 
    border-right: 1.5px solid #CD7F32; 
  }
  .btn-link:hover {
    background-color: #ffffff;
    color: green;
  }
