<footer class="text-center text-lg-start bg-light text-muted">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">B&N Services</h6>
                <p>Affiliate Program</p>
                <p>Publisher and Author Guidelines</p>
                <p>Bulk Order Discounts</p>
                <p>B&N Mobile Apps</p>
              </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">About Us</h6>
                <p>About B&N</p>
                <p>Careers at B&N</p>
                <p>Barnes & Noble, Inc.</p>
                <p>B&N Kitchen</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Quick Help</h6>
                <p>Help Center</p>
                <p>Covid Safety</p>
                <p>Shipping & Returns</p>
                <p>Store Pickup</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Shop By Category</h6>
                <p>Books</p>
                <p>Fiction</p>
                <p>Nonfiction</p>
                <p>Kids</p>
            </div>
        </div>
    </div>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      ©1997-2023 Copyright:
      <p class="text-reset fw-bold">Barnes & Noble Booksellers, Inc. 33 East 17th Street, New York, NY 10003</p>
    </div>
  </footer>
