<div class="card-grid card border-secondary mb-3"style="width: 40rem;">
    <div class="card-category" style="text-align: center;">{{category}}</div>
    <div class="card-body"> 
        <h5 class="card-description" style="text-align: center;">{{description}}</h5>
        <img src={{img}} class="card-img-top" alt="..." width="200" height="300">
        <p class="card-text-date" style="text-align: center;">{{date}}</p>
    </div>
    <div class="card-footer"style="text-align: center;">
        <small class="text-muted">Available Online and in Stores</small>
      </div>
</div> 
