card-grid{
    padding-top: 100%;
    width:500px;
    height: 500px;
    box-sizing: border-box;
    border-color: grey;
}
.card-category{
    text-transform: uppercase;
}

.card-description{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
}

.card-footer{
    text-transform: uppercase;
    font-weight: bold;
}
.text-muted{
    color: black;
}