<h1 style="text-align: center;">More Bestsellers</h1>
<nav class="navbar navbar-light" style="background-color: #ffffff; text-align:center;">
    <div class="btn-group" role="group" aria-label="Footer-Buttons">
        <button type="button" class="btn btn-light"><img src=".\assets/BestsellersPage/puzzles.PNG" class="card-img-top" alt="..." width="100" height="100">Puzzles</button>
        <button type="button" class="btn btn-light"><img src=".\assets/BestsellersPage/stationary.PNG" class="card-img-top" alt="..." width="100" height="100">Stationary & Gifts</button>
        <button type="button" class="btn btn-light"><img src=".\assets/BestsellersPage/movies.PNG" class="card-img-top" alt="..." width="100" height="100">Movies & TV</button>
        <button type="button" class="btn btn-light"><img src=".\assets/BestsellersPage/music.PNG" class="card-img-top" alt="..." width="100" height="100">Music</button>
        <button type="button" class="btn btn-light"><img src=".\assets/BestsellersPage/toys.PNG" class="card-img-top" alt="..." width="100" height="100">Toys & Games</button>
      </div>
    </nav>